# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*..
.mypy_cache/
.ropeproject/
.cache/
database/
.vscode
.DS_Store
db.sqlite3
bloxus_server/api/migrations/
bloxus_server/db.sqlite3
